@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --font-course-details-heading-small: 30px;
    --line-course-details-heading-small: 40px;
    
    --font-course-details-heading-large: 40px;
    --line-course-details-heading-large: 50px;
    
    --font-home-heading-small: 45px;
    --line-home-heading-small: 50px;
    
    --font-home-heading-large: 60px;
    --line-home-heading-large: 80px;
    
    --font-default: 15px;
    --line-default: 24px;

    --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));

    --spacing-section-height: 500px;

    --maxWidth-course-card: 424px;
    
    --boxShadow-custom-card: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }

  .text-course-details-heading-small {
    font-size: var(--font-course-details-heading-small) !important;
    line-height: var(--line-course-details-heading-small) !important;
  }

  .text-course-details-heading-large {
    font-size: var(--font-course-details-heading-large) !important;
    line-height: var(--line-course-details-heading-large) !important;
  }

  .text-home-heading-small {
    font-size: var(--font-home-heading-small) !important;
    line-height: var(--line-home-heading-small) !important;
  }

  .text-home-heading-large {
    font-size: var(--font-home-heading-large) !important;
    line-height: var(--line-home-heading-large) !important;
  }

  .text-default {
    font-size: var(--font-default) !important;
    line-height: var(--line-default) !important;
  }

  .grid-cols-auto {
    display: grid;
    grid-template-columns: var(--grid-template-columns-auto);
  }

  .h-section-height {
    height: var(--spacing-section-height) !important;
  }
  .max-w-course-card {
    max-width: var(--maxWidth-course-card) !important;
  }

  .shadow-custom-card {
    box-shadow: var(--boxShadow-custom-card) !important;
  }
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Outfit', sans-serif;
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }